bleach==1.2.2
blinker==1.2
celery==3.0.22
dnspython==1.11.0
flask==0.10.1
flask-admin==1.0.6
flask-babel==0.9
flask-login==0.2.7
flask-mongoengine==0.7
flask-oauth==0.12
flask-restful==0.2.5
flask-wtf==0.8.4
jinja2==2.7.1
jsonschema==2.0.0
html5lib==0.95
lxml==3.2.3
mongoengine==0.7.10
premailer-cspw==1.2.2
pdfkit==0.4.1
pymongo==2.5.2
pyquery==1.2.4
python-magic==0.4.3
python-whois==0.2
uwsgi==1.9.14
werkzeug==0.9.3